body {
  background-color: #96514d;
  color: #f4dda5;
  width: 500px;
  margin-right: auto;
  margin-left: auto;
}
button {
  padding: 5px 20px;
  background-color: #752100;
  color: #fdffff;
  border-color: #2e6da4;
  border-style: none;
}
input {
  height: 20px;
}